@import "tailwindcss";

@layer utilities{
    @keyframes loading {
        0% {
            transform: translate(-100%);
        }
        100%{
            transform: translate(250%);
        }
    }
    .animate-loading-bar{
        animation: loading 0.8s ease infinite;
    }
}